.container {
  margin-top: 40px;
  max-width: 1500px;
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

h3 {
  padding: 1.25rem;
}

.card-header {
  background-color: #f5f5f5;
}

.avatar.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
  white-space: nowrap;
}

.table > :not(caption) > * > * {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}

table th {
  font-weight: 600;
  background-color: #eeecfd !important;
}

.table thead > tr > th {
  padding: 15px !important;
}

.table tbody > tr > td {
  background-color: white !important;
}

.fa-arrow-up {
  color: #00ced1;
}

.fa-arrow-down {
  color: #ff00ff;
}

.table tbody > tr > td {
  padding: 20px !important;
  font-size: 1em;
}

/* ANTHONY'S CODE/STYLESHEET FOR FRONT END */

* {
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 2;
  color: #fff;
  outline: none;
  -moz-outline: none;
}

body {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

details {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
} details:hover {
  cursor: default!important;
} summary:hover {
  cursor: pointer;

}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}
.flex-item {
  margin: 1em;
  text-align: center;
}

.flex-img {
  width: clamp(333px, 50%, auto);
  max-height: 222px;
  overflow: hidden;
}

.flex-txt {
  width: clamp(333px, 50%, auto);
  height: auto;
  overflow: hidden;
}

.btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

form {
  margin-top: 50px;
  margin-bottom: -5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
